@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

* {
  font-family: "Poppins", sans-serif;
  color: white;
  text-align: center;
}

body {
  width: 100vw;
  min-height: 100vh;

  background-image: url("/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.darken {
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.secondary {
  margin: 0px;
  color: #a9a9a9;
}

form {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes hoverShow {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.05, 1.05);
  }
}

@keyframes hoverHide {
  0% {
    transform: scale(1.05, 1.05);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.form-field {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 30px;
  padding: 10px;
  margin: 10px;
  background-color: rgba(128, 128, 128, 0.5);
  backdrop-filter: blur(10px);
  color: white;
  border-radius: 30px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  text-align: left;
}

.form-field-double {
  width: 300px;
  height: 70px;
  padding: 10px;
  margin: 10px;
  background-color: rgba(128, 128, 128, 0.5);
  backdrop-filter: blur(10px);
  color: white;
  border-radius: 30px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  text-align: left;
}

.splitter {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 5px;
  margin-bottom: 5px;
}

.form-field input,
.form-field-double input[type="text"] {
  width: 100%;
  height: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  text-align: left;
}

select {
  color: black;
  margin-left: 5px;
}

option {
  color: black;
}

.form-field-double input[type="checkbox"] {
  height: 100%;
}

.form-field-double label {
  font-size: 13px;
}

.form-field input::placeholder,
.form-field-double input::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

.form-field input::-ms-input-placeholder,
.form-field-double input::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: white;
}

.input-small {
  width: 250px;
}

.input-small-icon {
  width: 25px;
  height: 25px;
  background-color: transparent;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.error {
  margin: 0;
  padding: 0;
  color: red;

  display: flex;
  align-items: center;
}

.error-icon {
  color: red;
  margin-right: 5px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: 30px;
  padding: 10px;
  margin: 10px;
  background-color: rgba(128, 128, 128, 0.5);
  backdrop-filter: blur(10px);
  color: white;
  border-radius: 100px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  text-align: left;
  cursor: pointer;
}

button .material-symbols-rounded {
  margin-right: 5px;
}

.form-secondary {
  position: absolute;
  top: 50%;
  right: 10px;

  padding: 0;
  margin: 0;

  font-size: 10px;

  line-height: 0;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Loading animation */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  --c: no-repeat radial-gradient(farthest-side, #25b09b 92%, #0000);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 12px 12px;
  animation: l12 1s infinite;
}
.loader::before {
  margin: 4px;
  filter: hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear;
}

@keyframes l12 {
  100% {
    transform: rotate(0.5turn);
  }
}

#loader-container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;

  background-color: black;

  position: fixed;
  top: 0;
  left: 0;
}

.small {
  transform: scale(0.25, 0.25);
}

#error-container,
#info-container {
  position: fixed;
  top: -60px;
  left: 50%;
  transform: translate(-50%);

  width: max-content;
  height: max-content;

  background-color: rgba(128, 128, 128, 0.5);
  backdrop-filter: blur(10px);

  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.1);

  display: none;
  align-items: center;
  justify-content: center;

  padding: 10px;

  color: white;

  z-index: 10;
}

@keyframes showPopup {
  0% {
    opacity: 0;
    top: -60px;
  }
  100% {
    opacity: 1;
    top: 10px;
  }
}

@keyframes hidePopup {
  0% {
    opacity: 1;
    top: 10px;
  }
  100% {
    opacity: 0;
    top: -60px;
  }
}

#error-container .material-symbols-rounded,
#info-container .material-symbols-rounded {
  border-radius: 100px;

  font-size: 50px;
  color: white;
}

#error-container .material-symbols-rounded{
  background-color: #ff6961;
}

#error-container div {
  margin-left: 20px;
}

#error-header,
#error-message {
  margin: 0;
}