table {
    background: rgba(128, 128, 128, 0.5);
    backdrop-filter: blur(10px);

    padding: 10px;

    border-radius: 15px;

    display: block;
    max-height: 50vh;
    overflow: scroll;
}

th, td {
    padding-left: 5px;
    padding-right: 5px;
}